@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:wght@300;400&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

html {
    font-size: 62, 5%;
}

body {
    font-family: "Poppins", "roboto", sans-serif;
    font-size: 1.6rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.container img {
    cursor: zoom-in;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-close {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

}

.lightbox-close i {
    color: white;
    pointer-events: none;
}

.lightbox-content {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
}

.lightbox-content i {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
}

.lightbox-content i:hover {
    color: black;
}

.lightbox-content img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 1rem;
    user-select: none;
    -webkit-user-select: none;
}