@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:wght@300;400&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

html {
    font-size: 62, 5%;
}

body {
    font-family: "Poppins", "roboto", sans-serif;
    font-size: 1.6rem;
}

.accordion {
    margin: 5rem auto;
    max-width: 500px;
}

.accordion-header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    cursor: pointer;
}

.accordion-header * {
    pointer-events: none;
}

.accordion-content {
    border-top: 0;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    background: rgb(243, 243, 243);
    height: 0;
    overflow: hidden;
    transition: all 0.25s linear;
}

.accordion-inner {
    display: inline-block;
    border: 1px solid rgb(222, 222, 222);
    padding: 2rem;
}

.accordion-content.active {
    display: block;
}