@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:wght@300;400&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body {
    font-family: "Poppins", "roboto", sans-serif;
    font-size: 2rem;
}

.navigation {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 999;
}

.navigation-hamburger {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 500ms linear, opacity 300ms ease-in-out;
    transform: translateX(0);
    opacity: 1;
}

.navigation-hamburger.is-show {
    opacity: 0;
    transform: translateX(350%);
}

.menu {
    width: 500px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.25s linear;
    z-index: 2;
}

.menu.is-show {
    transform: translateX(0);
}

.menu-link {
    display: block;
    padding: 20px;
    color: #333;
    border-bottom: 2px solid #eee;
    border-left: 3px solid transparent;
    text-decoration: none;
    transition: all 100ms linear;
}

.menu-link:hover {
    border-left: 3px solid #2cccff;
}